@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ICONS */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

p, h1, h2, h3, label, ::placeholder, div {
    font-family: 'Inter';
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 100vh;
}

/* NAV */

nav {
    display: flex;
    width: 95%;
    justify-content: space-between;    
    position: absolute;
    left: 2.5%;
    right: 2.5%;
}

.heart-icon {
    width: 1rem;
}

.github-icon {
    width: 2rem;
}

.github-icon:hover {
    cursor: pointer
}

/* PLANNER */

canvas {
    border: 2px solid black;
}

#fieldbg, #robot {
    display: none;
}


/* CODE TAB */

.codetab {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

/* METADATA */
.point-header {
    margin-bottom: 2rem;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.point-header p {
    font-size: 24px;
}

.coords {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.telemetry-controls {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    
    margin-top: 30px;
}


/* CODE */

.code {
    margin-top: 4rem;
    width: 100%;
}

.code-header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
        
}

.copy-btn {
    margin-left: auto;
    color: gray;
    transition: 200ms ease-in-out;
}

.copy-btn:hover {
    cursor: pointer;
    scale: 1.2;
}

.code-header h2 {
    font-weight: normal;
    font-size: 24px;
}

#code-content {
    font-family: 'Fira Code';
}

